[influxdb]
write_to_influx = 1
user = iota_zmq  # Influxdb username
pass = iota_dump # Influxdb password
db = iota        # Database to store measurments
ip = localhost   # Influxdb host address
port = 8086      # Influxdb port
tag_label = iri_1.2.4  # Default tag value for measurment

[zmq]
use_zmq = 1
ip = localhost   # Node IP that's sending zmq messages
port = 5556      # Port used, current value is default for IRI

[iri]
export_folder =  # Folder used to store plaintext output (Default is Influxdb only)
interval = 30    # Seconds between data dumps
testnet = 0      # Toggle if analyzing data from testnet instead of mainnet
prune = 1        # Prune confirmed transactions
width = 1        # Used for width calculations & histograms (currently not sent to influxdb)
poisson = 0      # calculate & plot confirmation time distribution (currently not sent to influxdb)

[slack]
auth_key =       # authentication key for url api endpoint
url =            # url api endpoint
slack_key =      # slack token
